{% extends "layouts/_base.njk" %}

{% block main_content %}

  <h1>Contact</h1>

  <p>
    Have questions, suggestions or discovered incorrect trail
    information? We'd love to hear from you.
  </p>

  <article>

    <h2>Get in touch</h2>

    <p>Email: hello@trailguide.dev</p>

    <p>
      This is a demonstration project and the contact information is
      for illustrative purposes only.
    </p>

  </article>

{% endblock %}
