{% extends "layouts/_base.njk" %}

{% block main_content %}

  <h1>Regions</h1>

  <p>
    Browse hiking destinations by region.
  </p>
  <section>
    <h2>Regions Grid View</h2>
    <div class="grid">
      {% if regions.length %}
        {% for region in regions %}
          <article>
            <header>
              <h1>{{ region.name }}</h1>
            </header>
            <p>{{ region.country }}</p>
            <p>{{ region.description }}</p>
            <footer>
              <a href="/regions/{{ region.slug }}">
                Read more →
              </a>
            </footer>
          </article>
        {% endfor %}
      {% endif %}
    </div>
  </section>

{% endblock %}
