{% extends "layouts/_base.njk" %}
{% from "macros/trail-card.njk" import trailCard %}
{% from "macros/trail-filter-form.njk" import trailFilterForm %}

{% block hero %}
  <header class='hero-home'>
    <hgroup>
      <h1>Trails List</h1>
    </hgroup>
  </header>
{% endblock %}
{% block main_content %}
  <hr>
  {{ trailFilterForm('/trails', regions, filters) }}
  <section class='grid'>
    {% if trails.length %}

      {% for trail in trails %}
        {{ trailCard(trail) }}
      {% endfor %}

    {% else %}

      <article>
        <p>No trails available yet.</p>
      </article>

    {% endif %}
  </section>
{% endblock %}
