{% extends "layouts/_base.njk" %}

{% block main_content %}
  <h1>Trail test</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
    autem beatae, commodi dignissimos dolorum earum explicabo impedit magnam
    maxime minus quisquam veniam. Impedit iure laboriosam perspiciatis quam
    quisquam reiciendis, rerum.
  </p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
    autem beatae, commodi dignissimos dolorum earum explicabo impedit magnam
    maxime minus quisquam veniam. Impedit iure laboriosam perspiciatis quam
    quisquam reiciendis, rerum.
  </p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
    autem beatae, commodi dignissimos dolorum earum explicabo impedit magnam
    maxime minus quisquam veniam. Impedit iure laboriosam perspiciatis quam
    quisquam reiciendis, rerum.
  </p>
    <article>
      <h2>Trail SIngle View</h2>
    </article>

{% endblock %}
