{% block footer %}
  <div class='footer-wrapper'>
    <div>
      <p>Copyright
        &copy;
        Trail Guide {{ currentYear() }}</p>
    </div>
    <div>
      <img class="footer-logo" src='/assets/images/trail-guide-logo.svg'
           alt='Trail Guide Logo'>
    </div>
  </div>
{% endblock %}
