{% block nav %}
  <nav>
    <ul>
      <li>
        <a href='/'>
          <img class="logo" src='/assets/images/trail-guide-logo.svg'
               alt='Trail Guide Logo'>
        </a>
      </li>
    </ul>
    <ul>
      <li><a href="/about">About</a></li>
      <li><a href="/trail">Trails</a></li>
      <li><a href="/regions">Regions</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>
{% endblock %}
