<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="color-scheme" content="light dark">
  <!-- favicons -->
  <link rel="icon" type="image/png" href="/favicon/favicon-96x96.png"
        sizes="96x96"/>
  <link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg"/>
  <link rel="shortcut icon" href="/favicon/favicon.ico"/>
  <link rel="apple-touch-icon" sizes="180x180"
        href="/favicon/apple-touch-icon.png"/>
  <meta name="apple-mobile-web-app-title" content="Trail Guide"/>
  <link rel="manifest" href="/favicon/site.webmanifest"/>

  <!-- Pico CSS -->
  <link rel="stylesheet" href="/css/pico.min.css">

  <!-- Custom Styles -->
  <link rel="stylesheet" href="/css/styles.css"/>
  <title>{{ title }}</title>
</head>
<body>
<!-- Navigation -->
<header>
  {% include "partials/_admin-nav.njk" %}
</header>

<!-- Main Content -->
<main>
  <!-- Optional Hero section -->
  {% block hero %}{% endblock %}

  <!-- Core page body -->
  {% block main_content %}{% endblock %}
</main>
<!-- Footer -->
<footer>
  {% include "partials/_footer.njk" %}
</footer>

{% block scripts %}{% endblock %}
</body>
</html>
