<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="color-scheme" content="light dark">
  <link rel="stylesheet" href="./css/pico.min.css">
  <link rel="stylesheet" href="./css/styles.css"/>
  <title>{{ title }}</title>
</head>
<body>
<header>
  <!-- Navigation -->
  <nav>
    <ul>
      <li><strong>Trail Guide</strong></li>
    </ul>
    <ul>
      <li><a href="#">About</a></li>
      <li><a href="#">Regions</a></li>
      <li><a href="#">Trails</a></li>
      <li><a href="#">About us</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>
</header>

<!-- Main Content -->
{% block main_content %}{% endblock %}


<!-- Footer -->
</body>
</html>
